@font-face {
  font-family: 'NeoSansPro-Regular';
  src: 	url('../fonts/neosanspro/neosanspro-regular/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/neosanspro/neosanspro-regular/NeoSansPro-Regular.woff') format('woff'),
  		url('../fonts/neosanspro/neosanspro-regular/NeoSansPro-Regular.ttf')  format('truetype'),
  		url('../fonts/neosanspro/neosanspro-regular/NeoSansPro-Regular.svg#NeoSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro-Medium';
  src: 	url('../fonts/neosanspro/neosanspro-medium/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/neosanspro/neosanspro-medium/NeoSansPro-Medium.woff') format('woff'),
  		url('../fonts/neosanspro/neosanspro-medium/NeoSansPro-Medium.ttf')  format('truetype'),
  		url('../fonts/neosanspro/neosanspro-medium/NeoSansPro-Medium.svg#NeoSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nwmarkup.drop-down__overlay{
	top: 106px;
}

.nwmarkup.header__container {
    padding-top: 9px;
}
.nwmarkup.search{
	width: 28px;
	height: 28px;
	    min-width: inherit;
    max-width: inherit;
    cursor: pointer;
        margin-top: 34px;
	background: url(../img/search_icon.svg);
}
.header__wraper{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    font-family: 'NeoSansPro-Regular';
        padding-bottom: 7px;
}
.logo-wrapper{
	width: 145px;
}
.nwmarkup.logo{
	width: 87px;
    height: 50px;
    max-width: inherit;
    min-width: inherit;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
        margin-top: 24px;

}
.nwmarkup.logo img{
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.header__inner{
	    padding-top: 7px;
}
.top-nav{
	margin-bottom: 13px;
}
.top-nav__list{
	    list-style: none;
    margin: 0;
}
.top-nav__item{
	display: inline-block;
	vertical-align: middle;
	margin-right: 37px;
}
.top-nav__item--sub{
	position: relative;
}
.top-nav__item:last-child{
	margin-right: 0;
}
.nwmarkup.header__container {
    max-width: 1290px;
    padding: 0;
}
.top-nav__link{
	text-decoration: none;
	font-size: 16px;
	color: #231815;
	-webkit-transition: color 0.3s ease;
  	-o-transition: color 0.3s ease;
  	transition: color 0.3s ease;
}
.top-nav__link:hover{
	color: #0167B2;
}
.top-nav__link.active{
	color: #0167B2;
}
.top-nav__item--sub .top-nav__link{
	position: relative;
}
.top-nav__item--sub .top-nav__link:after{
	content: "";
	display:inline-block;
	width: 8px;
	height: 5px;
	position: absolute;
	top: 50%;
	    margin-top: -1px;
    right: -12px;
	background: url(../img/select_small_menu.svg) no-repeat;
}
.top-cars{
    border-radius: 6px;
    background-color: #EFF1F3;
    font-size: 20px;
    text-decoration: none;
    color: #231815;
    font-family: 'NeoSansPro-Regular';
    padding: 4px 42px;
    position: relative;
}
.top-cars:before{
	content: "";
	height: 14px;
	width: 16px;
	display: inline-block;
	position: absolute;
	left: 13px;
	top: 50%;
	margin-top: -7px;
	background: url(../img/burger_auto.svg) no-repeat;
}
.top-cars:after{
	content: "";
	height: 5px;
	width: 8px;
	display: inline-block;
	position: absolute;
	top: 50%;
	    margin-top: -1px;
    right: 24px;
	background: url(../img/select_small_menu.svg) no-repeat;
}

.header__info{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.header-phones{
	margin-left: 18px;
	margin-right: 38px;
	padding-left: 20px;
	position: relative;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2px;
}
.header-phones:before{
	content: "";
    display: inline-block;
    width: 20px;
    height: 21px;
    background: url(../img/phone_icon.svg) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: 6px;
}

.header-phones__item{
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 15px; 
}
.header-phones__item:first-child{
	margin-left: 0;
}
.header-phones__item:last-child{
	margin-right: 0;
}

.header-phones__link{
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #231815;
	-webkit-transition: color 0.3s ease;
  	-o-transition: color 0.3s ease;
  	transition: color 0.3s ease;
}
.header-phones__link:hover{
	color: #0167B2;
}
.header-phones__operator{
	display: block;
	text-align: right;
	font-size: 12px;
	font-weight: 500;
}
.operator-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}
.operator-icon img{
	display: block;
}
.header-address{
	font-size: 16px;
    padding-left: 23px;
    position: relative;
    margin-top: 8px;
}
.header-address:before{
	content: "";
	display: inline-block;
	width: 14px;
	height: 22px;
	background: url(../img/map_point.svg) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.header-address__info{
	font-size: 12px;
	font-family: 'NeoSansPro-Medium';
}

.header-address__link{
	color: #0167B2;
	text-decoration: none;
	margin-right: 28px;
	display: inline-block;
}
.header-address__link:hover{
	text-decoration: underline;
}

.top-nav-submenu{
	background-color: #EFF1F3;
	padding: 15px 0;
	position: absolute;
	left: 0;
	z-index: 11;
	width: 200px;
	    margin-top: 5px;
	    display: none;
}
.top-nav-submenu:before{
	    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #EFF1F3 transparent;
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 15px;
}

.top-nav-submenu__link{
	display: block;
	font-size: 16px;
	padding: 5px 22px;
	text-decoration: none;
	color: #231815;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.top-nav-submenu__link:hover,
.top-nav-submenu__link.active{
	color: #0167B2;
}
.nwmarkup.drop-down__container{
	max-width: 1290px;
	padding: 70px 0 0 0;
	    height: calc(100vh - 106px);
}
.nwmarkup.drop-down__cross{
	right: 4px;
	min-width: inherit;
	max-width: inherit;
	font-size: 16px;
	height: auto;
	padding-left: 35px;
	 font-family: 'NeoSansPro-Regular';
	 top:65px;
}

.nwmarkup.drop-down__cross:before{
	left: -60px;
}

.nwmarkup.drop-down__cross:after {
    right: 60px;
}
.nwmarkup.drop-down__sidebar{
	width: 220px;
	min-width: inherit;
	max-width: inherit;
	padding: 0 10px 30px 0;
}
.search-down__wrapper{
	max-width: 1290px;
	margin: 0 auto;
	position: relative; 
}
.nwmarkup.search-down__cross{
	right: 0;

}

.nwmarkup.drop-down__sidebar__title{
	color: #231815;
	font-family: 'NeoSansPro-Medium';
	    line-height: 1.3;
	        margin-bottom: 22px;
}
.nwmarkup.drop-down__sidebar__list{
	font-size: 16px;
	margin-bottom:80px;
}

.nwmarkup.drop-down__sidebar__link {
    color: #231815;
    font-size: 16px;
    font-family: 'NeoSansPro-Regular';
    -webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.nwmarkup.drop-down__sidebar__link:hover{
	color: #0167B2;
}
.nwmarkup.drop-down__sidebar__item {
    padding: 13px 0 8px;
    border: 0;
}

.nwmarkup.drop-down__row__title {
    font-size: 96px;
    color: #fff;
    font-family: 'NeoSansPro-Medium';
    font-weight: normal;
    margin-bottom: 0;
    position: absolute;
        width: 100%;
    text-align: center;
    top: 0;
}
.drop-down__row__box{
	position: relative;
	    padding-top: 40px;
}

.nwmarkup.drop-down__row__item span {
    color: #231815;
    font-size: 16px;
    font-family: 'NeoSansPro-Medium';
}
.nwmarkup.drop-down__row__item:hover span{
	color: #0167B2;
}
.trade-in{
	display: inline-block;
	font-size: 20px;
	color: #231815;
	-webkit-transition: color 0.3s ease;
  	-o-transition: color 0.3s ease;
  	transition: color 0.3s ease;
  		border: 2px solid #0167B2;
  		padding: 5px 5px;
  		text-decoration: none;
  		padding: 2px 15px;
}
.trade-in:hover{
	color: #0167B2;
}

.nwmarkup.search-down__form__btn{
	width: 28px;
    height: 28px;
    min-width: inherit;
    max-width: inherit;
    cursor: pointer;
    background: url(../img/search_icon.svg) no-repeat;
        background-size: 100% 100%;
}

.nwmarkup.mobile-nav{
	top: 80px;
}

.mobile-navigation{
	display: none;
	max-height: calc(100vh - 80px);
	/*min-height: calc(100vh - 80px);*/
    overflow-y: auto;
}
.mobile-navigation__list{
	padding: 0 20px 20px;
	width: 100%;
}

.mobile-navigation__list ul{
	list-style-type: none;
	padding: 0; 
	margin: 0; 
	margin-bottom: 20px;
}

.mobile-navigation__list li{
	border-top: 1px solid rgba(203, 211, 217, 0.3);
}

.mobile-nav__item{
	display: block;
	text-decoration: none;
	padding: 7px 25px 7px 0;
	color: #231815;
	font-family: 'NeoSansPro-Regular';
	font-size: 18px;
}

.mobile-nav__item.active{
	color: #0167B2;
}
.mobile-sub{
	position: relative;
}

.mobile-sub--link:after{
	    content: '';
    position: absolute;
    top: 19px;
    right: 20px;
    margin: auto;
    display: inline-block;
    height: 7px;
    width: 7px;
    border-top: 1px solid #0067b2;
    border-left: 1px solid #0067b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nwmarkup.burger {
    padding-top: 6px;
}


.mobile-submenu{
	display: none;
	    padding-bottom: 15px;
}

.mobile-sub__item{
	display: block;
	text-decoration: none;
	padding: 5px 25px 5px 20px;x;
	color: #231815;
	font-family: 'NeoSansPro-Regular';
	font-size: 16px;
}

.mobile-sub__item.active{
	color: #0167B2;
}

.mobile-navigation .header-phones{
	margin: 0;
    display: block;
}

.mobile-navigation .header-phones__item {
    display: block;
    margin: 0 0 10px 0;
}

.mobile-navigation .header-phones__operator{
	text-align: left;
}

body.overflow-mobile{
	overflow: hidden;
}

@media only screen and (max-width: 1320px){
	.nwmarkup.header__container,
	.nwmarkup.drop-down__container{
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.nwmarkup.drop-down__cross {
	    right: 20px;
	    top: 65px;
	}
	.trade-in {
	    font-size: 16px;
	    padding: 2px 10px;
	}
	.nwmarkup.search-down__cross {
	    right: 20px;
	}
	.top-nav__item {
	    margin-right: 20px;
	}
	.top-cars,
	.header-phones__link{
	    font-size: 18px;
	}
	.header-address {
	    font-size: 14px;
	    padding-left: 20px;
	    margin-top: 0px;
	}
	.nwmarkup.drop-down__container{
		padding-top: 40px;
	}
	.nwmarkup.drop-down__cross{
		top: 40px;
	}
	.top-nav-submenu__link {
	    padding: 2px 12px;
	}
	.top-nav-submenu {
	    padding: 10px 0;
	    width: 185px;
	}
	.logo-wrapper {
	    width: 110px;
	}
}
@media only screen and (max-width: 1100px){
	.top-cars, .header-phones__link {
	    font-size: 14px;
	}
	.header-phones {
	    margin-right: 20px;
	}
	.top-nav__item {
	    margin-right: 12px;
	}
	.top-nav__link{
		font-size: 15px;
	}
	.nwmarkup.drop-down__sidebar__list {
	    margin-bottom: 35px;
	}
}

@media only screen and (max-width: 1000px){
	.nwmarkup.burger {
	    display: block;
	}
	.header__inner{
		display: none;
	}
	.header__wraper {
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
		padding: 15px 0;
	}
	.nwmarkup.search,
	.nwmarkup.logo{
		margin-top: 0;
	}
	.nwmarkup.search-down__form{
		padding-right: 20px;
	}
	.logo-wrapper {
	    width: 87px;
	}
	.nwmarkup.breadcrumbs__container{
		max-width: 100%;
    	padding: 0 20px;
	}
}