doctype html
html(lang="ru-RU")
	include includes/head
	body.nwmarkup
		include includes/header
		.new-markup
			section.nwmarkup.banner-s
				.nwmarkup.banner-s__slider
					.nwmarkup.banner-s__slider__box
						.nwmarkup.banner-s__slider__item(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/hero-emgrand-gt-1.jpg')")
						.nwmarkup.banner-s__slider__plain
							h3.nwmarkup.banner-s__slider__title New Emgrand GT
							p.nwmarkup.banner-s__slider__text Chinese Roots, Global Focus.
							a(href="javascript:void(0)").nwmarkup.banner-s__slider__btn Learn More
					.nwmarkup.banner-s__slider__box
						.nwmarkup.banner-s__slider__item(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/hero-x7-s.jpg')")
						.nwmarkup.banner-s__slider__plain
							h3.nwmarkup.banner-s__slider__title Emgrand X7 Sport
							p.nwmarkup.banner-s__slider__text Bold but graceful for individuals who strive for technology, connectivity, and superior aesthetics.
							a(href="javascript:void(0)").nwmarkup.banner-s__slider__btn Learn More
			section.nwmarkup.explore-s
				h3.nwmarkup.explore-s__title EXPLORE GEELY AUTO
				span.nwmarkup.explore-s__sep
				.nwmarkup.explore-block
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/%E5%B8%9D%E8%B1%AAGL%E5%8A%A8%E5%8A%9B%E7%B3%BB%E7%BB%9Fb.png')")
						h4.nwmarkup.explore-block__item__title iNTEC
						p.nwmarkup.explore-block__item__text Humanized intelligent driving technology
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/cta-design-1.jpg')")
						h4.nwmarkup.explore-block__item__title Design Philosophy
						p.nwmarkup.explore-block__item__text Geely Auto should look to global trends but our cars should also have a hint of where the company originates from.
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/cta-history.jpg')")
						h4.nwmarkup.explore-block__item__title History
						p.nwmarkup.explore-block__item__text Geely’s era 1.0 to 3.0

		include includes/footer
		//- Подключение скриптов
		include includes/scripts