doctype html
html(lang="ru-RU")
	include includes/head
	body.nwmarkup
		include includes/header
		.new-markup
			section.nwmarkup.news-s
				.nwmarkup.news-s__container
					h1 News
					span.nwmarkup.news-s__sep
					.row
						.col-md-9
							.nwmarkup.news-s__content
								.row
									.col-md-5
										a(href="#").nwmarkup.news-s__content__img
											img(src="http://global.geely.com/wp-content/uploads/2018/03/Dealership-Opening-Ceremony.jpg", alt="")
									.col-md-7
										.nwmarkup.news-s__content__box
											h3
												a(href="#") Geely Auto Opens 28 New Dealers in Jiangsu and Zhejiang Province in Single Day
											span.nwmarkup.news-s__content__meta March 22, 2018 
												span | 
												a(href="#") Geely Auto Group
												| , 
												a(href="#") Press Release
											p New dealerships are key to expanding Geely Auto footprint across China Designed and built to service a new generation of Geely consumers Nearly 650 million RMB invested in the new dealers 22nd March, 2018, Huzhou, Zhejiang. Geely Auto announced the...
											.nwmarkup.news-s__content__tags
												a(href="#") Dealerships
												a(href="#") Sales
							.nwmarkup.news-s__content
								.row
									.col-md-5
										a(href="#").nwmarkup.news-s__content__img
											img(src="http://global.geely.com/wp-content/uploads/2018/03/Dealership-Opening-Ceremony.jpg", alt="")
									.col-md-7
										.nwmarkup.news-s__content__box
											h3
												a(href="#") Geely Auto Opens 28 New Dealers in Jiangsu and Zhejiang Province in Single Day
											span.nwmarkup.news-s__content__meta March 22, 2018 
												span | 
												a(href="#") Geely Auto Group
												| , 
												a(href="#") Press Release
											p New dealerships are key to expanding Geely Auto footprint across China Designed and built to service a new generation of Geely consumers Nearly 650 million RMB invested in the new dealers 22nd March, 2018, Huzhou, Zhejiang. Geely Auto announced the...
											.nwmarkup.news-s__content__tags
												a(href="#") Dealerships
												a(href="#") Sales
							.nwmarkup.news-s__content
								.row
									.col-md-5
										a(href="#").nwmarkup.news-s__content__img
											img(src="http://global.geely.com/wp-content/uploads/2018/03/Dealership-Opening-Ceremony.jpg", alt="")
									.col-md-7
										.nwmarkup.news-s__content__box
											h3
												a(href="#") Geely Auto Opens 28 New Dealers in Jiangsu and Zhejiang Province in Single Day
											span.nwmarkup.news-s__content__meta March 22, 2018 
												span | 
												a(href="#") Geely Auto Group
												| , 
												a(href="#") Press Release
											p New dealerships are key to expanding Geely Auto footprint across China Designed and built to service a new generation of Geely consumers Nearly 650 million RMB invested in the new dealers 22nd March, 2018, Huzhou, Zhejiang. Geely Auto announced the...
											.nwmarkup.news-s__content__tags
												a(href="#") Dealerships
												a(href="#") Sales
							.nwmarkup.news-s__content.last
								.row
									.col-md-5
										a(href="#").nwmarkup.news-s__content__img
											img(src="http://global.geely.com/wp-content/uploads/2018/03/Dealership-Opening-Ceremony.jpg", alt="")
									.col-md-7
										.nwmarkup.news-s__content__box
											h3
												a(href="#") Geely Auto Opens 28 New Dealers in Jiangsu and Zhejiang Province in Single Day
											span.nwmarkup.news-s__content__meta March 22, 2018 
												span | 
												a(href="#") Geely Auto Group
												| , 
												a(href="#") Press Release
											p New dealerships are key to expanding Geely Auto footprint across China Designed and built to service a new generation of Geely consumers Nearly 650 million RMB invested in the new dealers 22nd March, 2018, Huzhou, Zhejiang. Geely Auto announced the...
											.nwmarkup.news-s__content__tags
												a(href="#") Dealerships
												a(href="#") Sales
							.nwmarkup.news-s__pagination
								span.active 1
								a(href="#") 2
								a(href="#") 3
								span.nwmarkup.news-s__pagination__dots …
								a(href="#") Next »
						.col-md-3
							.nwmarkup.news-s__sidebar
								.nwmarkup.news-s__categories
									h3 News Categories
									span.nwmarkup.news-s__categories__sep
									ul
										li
											a(href="#") Geely Auto Group
										li
											a(href="#") London Taxi Company
										li
											a(href="#") Press Release
										li
											a(href="#") Volvo Cars
										li
											a(href="#") Zhejiang Geely Holding Group
								.nwmarkup.news-s__accordion
									h3 Past News
									span.nwmarkup.news-s__accordion__sep
									ul#accrodion
										li
											span 2018
											.nwmarkup.news-s__accordion__content
												a(href="#") March 2018
												a(href="#") February 2018
												a(href="#") January 2018
										li
											span 2017
											.nwmarkup.news-s__accordion__content
												a(href="#") December 2017
												a(href="#") November 2017
												a(href="#") September 2017
										li
											span 2016
											.nwmarkup.news-s__accordion__content
												a(href="#") August 2016
												a(href="#") July 2016
												a(href="#") June 2016
												a(href="#") May 2016
												a(href="#") April 2016
												a(href="#") March 2016
												a(href="#") February 2016
												a(href="#") January 2016
										li
											span 2015
											.nwmarkup.news-s__accordion__content
												a(href="#") December 2015
												a(href="#") November 2015
												a(href="#") September 2015
												a(href="#") August 2015
												a(href="#") July 2015
												a(href="#") May 2015
												a(href="#") April 2015
												a(href="#") March 2015
												a(href="#") February 2015
										li
											span 2014
											.nwmarkup.news-s__accordion__content
												a(href="#") December 2014
												a(href="#") November 2014
												a(href="#") October 2014
												a(href="#") July 2014
												a(href="#") May 2014
												a(href="#") April 2014
												a(href="#") February 2014
												a(href="#") January 2014
										li
											span 2013
											.nwmarkup.news-s__accordion__content
												a(href="#") December 2013
												a(href="#") September 2013
												a(href="#") August 2013
												a(href="#") July 2013
												a(href="#") April 2013
												a(href="#") March 2013
												a(href="#") February 2013
										li
											span 2012
											.nwmarkup.news-s__accordion__content
												a(href="#") July 2012
												a(href="#") March 2012
										li
											span 2010
											.nwmarkup.news-s__accordion__content
												a(href="#") March 2010

		include includes/footer
		//- Подключение скриптов
		include includes/scripts