doctype html
html(lang="ru-RU")
	include includes/head
	body.nwmarkup
		include includes/header
		//- Новая верстка START
		.new-markup
			section.nwmarkup.preview-s(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/hero.jpg')")
				.nwmarkup.preview-s__container
					.nwmarkup.preview-s__content.blacked
						h1.nwmarkup.preview-s__title Overview
						p.nwmarkup.preview-s__text Geely Auto Group is a leading automobile manufacturer based in Hangzhou, China and was founded in 1997 as a subsidiary of Zhejiang Geely Holding Group. Geely Auto Group sells vehicles under the Geely Auto brand and holds a 50% stake in the LYNK & CO brand.
			section.nwmarkup.text-s
				.nwmarkup.text-s__container
					.row
						.col-md-8
							h2 Geely at a Glance
							p Geely Auto Group is a leading automobile manufacturer based in Hangzhou, China and was founded in 1997 as a subsidiary of 
								a(href="#") Zhejiang Geely Holding Group. 
								| Geely Auto Group sells vehicles under the Geely Auto brand and holds a 50% stake in the LYNK & CO brand.
							p The company employs more than 50,000 people, operates 12 vehicle manufacturing plants, 9 powertrain plants, 6 knockdown kit plants, and manufactures vehicles under the Geely Auto brand. Geely vehicles are sold through a network of over 850 dealerships in China and some 350 sales and service outlets in overseas markets. The company, listed on the Hong Kong stock exchange, saw its sales volume increase to 765,000 units in 2016 with 2017 sales goal set at 1.1 million units. In 2017, Geely Auto Group sold over 1,247,000 units, an increase of 63% from 2016. The success has prompted Geely Auto Group to set its 2018 sales volume target to 1.58 million units .
					.nwmarkup.advantages
						.row.nwmarkup.advantages__item
							.col-md-6
								.nwmarkup.advantages__img
									a(href="javascript:void(0)")
										img(src="http://global.geely.com/wp-content/uploads/2017/10/rnd.jpg", alt="")
							.col-md-6
								.nwmarkup.advantages__content
									h3 World-class Research and Development
									p The group is committed to world-class research and development in the auto industry. It has established the Geely Automotive Research Institute in Hangzhou, the renowned China Euro Vehicle Technology (CEVT) in Gothenburg, and the world-leading Geely Research Institute in Hangzhou Bay, Ningbo to focus on development of vehicles, engines, transmission and vehicle bound electronics. Other facilities include Design Centres in Barcelona, Gothenburg, California and Shanghai.
									p Geely’s commitment to innovation and sustainability has led it to invest above the industry average in R&D and initiate green policies. The group’s dedication to innovative research has put it on the forefront of new energy, safety, automotive intelligence, and autonomous drive technologies. In regards to sustainability, Geely sees the switch to new energy vehicles as essential to environmental sustainability and has announced its “Blue Geely Initiative” in which it aims to have 90% of its sales coming from new energy vehicles by 2020.
									a(href="javascript:void(0)").nwmarkup.advantages__link Learn More
						.row.nwmarkup.advantages__item
							.col-md-6.order-1.order-md-2
								.nwmarkup.advantages__img
									a(href="javascript:void(0)")
										img(src="http://global.geely.com/wp-content/uploads/2017/10/Manufacturing-Facilities-1.jpg", alt="")
							.col-md-6.order-2.order-md-1
								.nwmarkup.advantages__content
									h3 Manufacturing Facilities
									p Geely Auto Group has vehicle and powertrain manufacturing facilities all over China in places such as Taizhou, Ningbo, Xiangtan, Chengdu, Baoji, and Jinzhong. The company currently produces Emgrand GL (A-class cars), Emgrand GT (B-class cars), X7 Sport (SUV), Emgrand GS (crossover SUV), Emgrand EV (A-Class EV), X7, GC6 and other vehicles along with a full range of powertrains using gasoline and new energy.
			section.nwmarkup.explore-s.grey-bg
				h3.nwmarkup.explore-s__title EXPLORE GEELY AUTO
				span.nwmarkup.explore-s__sep
				.nwmarkup.explore-block
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/%E5%B8%9D%E8%B1%AAGL%E5%8A%A8%E5%8A%9B%E7%B3%BB%E7%BB%9Fb.png')")
						h4.nwmarkup.explore-block__item__title iNTEC
						p.nwmarkup.explore-block__item__text Humanized intelligent driving technology
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/cta-design-1.jpg')")
						h4.nwmarkup.explore-block__item__title Design Philosophy
						p.nwmarkup.explore-block__item__text Geely Auto should look to global trends but our cars should also have a hint of where the company originates from.
					a(href="javascript:void(0)").nwmarkup.explore-block__item
						span.nwmarkup.explore-block__item__img(style="background-image: url('http://global.geely.com/wp-content/uploads/2017/10/cta-history.jpg')")
						h4.nwmarkup.explore-block__item__title History
						p.nwmarkup.explore-block__item__text Geely’s era 1.0 to 3.0
		
			section
				.nwmarkup.container
					h1 Heading 1
					h2 Heading 2
					h3 Heading 3
					h4 Heading 4
					h5 Heading 5
					h6 Heading 6
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ad.
					p Lorem, ipsum dolor.
						a(href="#") Lorem, ipsum.
					small lorem small
					br
					strong strong
					br
					a(href="#") link
					ul
						li
							a(href="#") ul list item 1
						li 
							span ul list item 2
						li ul list item 3
					ol
						li 
							a(href="") ol list item link 1
						li ol list item 2
						li ol list item 3
					.nwmarkup.table-responsive
						table
							tr
								th(colspan="8" align="center") GEELY ATLAS
							tr
								td Модель
								td 2.0L/Euro 5/MT
								td
								td 2.4L/Euro 5/AT(4*2)
								td
								td 2.4L/Euro 5/AT(4*4)
								td
								td
							tr
								td Комплектации
								td Standart
								td Comfort
								td Comfort
								td Luxury
								td Comfort
								td Luxury
								td Flagship
							tr
								td Цена
								td уточняется
								td уточняется
								td уточняется
								td уточняется
								td уточняется
								td уточняется
								td уточняется
							tr
								td Двигатель 2.0L Бензин Атмосферный
								td.center +
								td.center +
								td
								td
								td
								td
								td
							tr
								td Двигатель 2.4L Бензин Атмосферный
								td 
								td 
								td.center +
								td.center +
								td.center +
								td.center +
								td.center +
					.row
						.col-md-8
							p.nwmarkup.form-error There was a problem with your submission. Errors have been highlighted below.
					form
						.row
							.col-md-4
								select
									option(selected="selected") Subject
									option 1
									option 2
									option 3
								.nwmarkup.form__row(data-required="This field is required.")
									input(type="text" placeholder="First Name")
								input(type="text" placeholder="Last Name")
								input(type="text" placeholder="Company")
								input(type="email" placeholder="Email")
								select
									option(selected="selected") Country
									option 1
									option 2
									option 3
							.col-md-4
								textarea(placeholder="Message")
								label
									input(type="checkbox").nwmarkup.checkbox
									span.nwmarkup.checkbox-stylish
									span.nwmarkup.checkbox-label Lorem ipsum dolor sit amet consectetur.
								br
								label
									input(type="radio" name="test").nwmarkup.radio
									span.nwmarkup.radio-stylish
									span.nwmarkup.radio-label Lorem ipsum 1
								br
								label
									input(type="radio" name="test").nwmarkup.radio
									span.nwmarkup.radio-stylish
									span.nwmarkup.radio-label Lorem ipsum 2
						.row
							.col-md-4
								button(type="submit") Send
							.col-md-4
								input(type="submit" value="send")
							.col-md-4
								a(href="#").nwmarkup-btn send

		include includes/footer
		//- Подключение скриптов
		include includes/scripts